<%= form_with(model: study_author) do |form| %>
  <% if study_author.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(study_author.errors.count, "error") %> prohibited this study_author from being saved:</h2>

      <ul>
        <% study_author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-4">
    <%= form.label :first_name, style: "display: block", class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="mt-4">
    <%= form.label :last_name, style: "display: block", class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="mt-4">
    <%= form.submit %>
  </div>
<% end %>
