<div style="font-size: 1.2em;" class="container mt-4">
    <p style="color: green"><%= notice %></p>

    <%= render @verse_comment %>

    <hr>

    <div>
      <p>
        <%= link_to "Edit this verse comment", edit_verse_comment_path(@verse_comment) %> |
        <%= link_to "Back to verse comments", verse_comments_path, class: "link-success" %> |
        <%= link_to "New Verse Comment", new_verse_comment_path, class: "link-body-emphasis" %>

      </p>
      <%= button_to "Destroy this verse comment", @verse_comment, method: :delete, class: "btn btn-danger", form: { data: { turbo_confirm: "Are you sure?" }} %>
    </div>
</div>
