<div class="container mt-4">
  <p style="color: green"><%= notice %></p>

  <h1>Study notes</h1>

  <%= link_to "New study note", new_study_note_path %>
  <hr/>
  <% books_with_notes = StudyNote.all.map(&:study_book).uniq! %>
  <select>
    <option class="fw-bold">Number of notes created: <%=StudyNote.count %> </option>
    <% books_with_notes.each do |book| %>
      <option><%= book.title %>: <%= StudyNote.where(study_book_id: book.id).count %></option>
    <% end %>
  </select>
  <hr/>

  <table id="StudyNotesTable" class="row-border">
    <thead>
      <tr>
        <th>Book Title</th>
        <th>Page Number</th>
        <th>Note Text</th>
        <th>Show This Note</th>
      </tr>
    </thead>
    <tbody>
    <% @study_notes.each do |note| %>
      <tr>
        <td><%= note.study_book.title %></td>
        <td><%= note.page_number %></td>
        <td style='white-space: pre-wrap;'><%= note.note_text %></td>
        <td><%= link_to "Show this study note", note %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>

<script>
  var table = new DataTable('#StudyNotesTable', {
    layout: {
      topStart:{
        buttons: ['print', 'csv']
      }
    }
  });

  table.on('draw', function(){
    var body = $( table.table().body());
    console.log("redrawing");
    body.unhighlight();
    body.highlight( table.search() );
  });
</script>
