<div id="<%= dom_id study_book %>">
  <p>
    <strong>Title:</strong>
    <%= study_book.title %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= study_book.summary %>
  </p>

  <p>
    <strong>Number of pages:</strong>
    <%= study_book.number_of_pages %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= study_book.completed %>
  </p>

</div>
