<p style="color: green"><%= notice %></p>

<%= render @verse_collection %>

<div>
  <%= link_to "Edit this verse collection", edit_verse_collection_path(@verse_collection) %> |
  <%= link_to "Back to verse collections", verse_collections_path %>

  <%= button_to "Destroy this verse collection", @verse_collection, method: :delete %>
</div>
